@import "tailwindcss";

@theme {
  --color-primary: #1b2021;
  --color-secondary: #30343f;
  --color-accent: #30343f;
  --color-background: #e6e8e6;
  --color-text: #0a100d;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 4px;
}

html {
  scroll-behavior: smooth;
}
